@model IEnumerable<PartyInvites.Models.GuestResponce>
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Thanks</title>
        <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css"/>
    </head>
    <body>
        <div class="text-center p-2"></div>
        <h2>Список людей, которые придут на вечеринку</h2>
        <table class="table table-bordered table-striped table-sm">
            <thead>
            <tr><th>Имя</th><th>Почта</th><th>Телефон</th></tr>
            </thead>
            <tbody>
                @foreach(PartyInvites.Models.GuestResponce r in Model)
                {
                    <tr>
                        <td>@r.Name</td>
                        <td>@r.Email</td>
                        <td>@r.Phone</td>
                    </tr>
                }
        </tbody>
        </table>
    </body>
</html>